body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
    color: black;
    padding: 2rem;
}
.hidden {
    display: none;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    text-align: left;
    padding: 0.5rem;
}
select {
    height: 30px;
    line-height: 30px;
    background: #f4f4f4;
    font-size: 20px;
}
p {
    font-size: 1.2rem;
}
tr {
    background: #f4f4f4;
}
input {
    width: 9.25rem;
}
td { 
    cursor: pointer; 
}
#sidebar, #main {
    width: 50%;
    float: left;
}
#drop {
    border: 1px dashed black;
    padding: 2rem;
    display: inline-block;
}
#drop.hover {
    background: rgba(0, 100, 0, 0.20);
    border: 1px solid black;
}
#login, #logout {
    background: #f2f2f2;
    width: 9.5rem;
    padding: 0.5rem;
    border: 1px solid black;
}
#loginButton, #logoutButton {
    width: 9.5rem;
}
#loginError, #dcrError, #wfError, #executeError {
    color: red;
    font-size: 1.1rem;
}
#dcrName {
    width: 9.9rem;
}
#addDcrGraph, #createWorkflow, #showWorkflows {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid black;
}
#workflowName {
    margin-top: 1rem;
    margin-bottom: 1rem;
}